.footer{
    
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
   
    width: 100%;
    min-height: 90px;
    margin: 16px auto;
    
    background: var(--color-primary);

}
.footer__content{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #ffffff;
    padding: 12px;
    min-width: 50%;

    justify-content: space-between;
}
.footer__socials{
   

}

.footer__socials-links{
    margin: 0 6px 0 6px;

}






@media screen and (max-width: 350px) {

.footer{
    
min-width: 350px;
    
    }

}