/* home */

.page__content {

    flex-grow: 1;
}

.intro {
    padding-top: 102px;
    padding-bottom: 102px;
}

.intro__content {
    
    bottom: 12px;
    width: 616px;
    margin-bottom: 20px;
    margin-right: 74px;
}

.intro__heading {

    margin: 0;
    font-size: 60px;
    line-height: 70px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
       
    text-transform: uppercase;
    letter-spacing: 2.5px;

    line-height: 120%;
    

}

.intro__text {

    margin: 0;
    max-width: 520px;
    margin-bottom: 50px;
    margin-top: 26px;

}

/* button */

.action-button {
    
    box-sizing: border-box;
    display: inline-block;
    width: 228px;
    height: 56px;
    padding: 18px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;


}

.action-button_red {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-base);
    background-color:var(--color-secondary);
}

.action-button_red:hover{
    color: var(--color-primary);
    background-color:  hsl(0, 77%, 53%);
    transition: 0.9s;

}


/* image */



.intro__image {

    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    max-width: 554px;
    max-height: 360px;

}

.products__link{
    font-style: italic;
}

.service__heding{
    font-style: italic;
}

@media screen and (max-width: 560px) {

    .intro__image {

        box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
        max-width: 454px;
        max-height: 260px;
    
    }

}

@media screen and (max-width: 550px) {

    .intro__link{
        display: flex;
        flex-wrap: wrap;
        max-width: 340px;
        max-height: 320px;
    }
.intro__content{
    display: flex;
    flex-wrap: wrap;
    max-width: 340px;

}
  

.intro__heading {

font-size: 42px;
max-width: 340px;

}

}   


@media screen and (width: 350px) {




    
.page{
  min-width: 350px; 
}
.header{
    min-width: 350px;
}
.feature {
    padding-left: 6px;
} 

.product__item {
    margin-bottom: 6px;
}

.intro__section{
    width: 350px;
}
.intro__heading{
    width: 50%;
    font-size: 30px;
}
.team__heading{
    font-size: 30px;
}

.team{
    width: 340px;
}


.team__text {
width: 70%;
}

.team__selected-photo{
    width: 320px;
}
.team__members{
    width: 70%;
}

.members{

    justify-content: center;
}
.feedback__box-left{
    margin-left: 0px;
    }

.subscibe__input{
   width: 90%;;
}

.section__heading{
    font-size: 28px;
}

.feedback__heading-text{
    width: 50%;
}
.feedback__message{
max-width: 340px;
}

.feedback__box-right{
    max-width: 350px;
}

.footer__socials {
margin: auto;
}

.feedback__body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 350px;
}

}


